*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body::before
{
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    background-image: url("D:\Web Development\chess\public\chess piecies\old-wooden-chess-board-AFVF05219.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
